@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  display:flex;
  justify-content: center;
  margin-top:50px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:5px;
  
}

.header .left-links{
  display:flex;
  list-style: none;
  flex-wrap:nowrap;
  gap: 20px;
  padding-left:8px;
  padding-top: 5px;
  padding-right:8px;
  padding-bottom:10px;
}

.header .right-links{
  display:flex;
  list-style: none;
  flex-wrap:nowrap;
  gap: 20px;
  padding-left:8px;
  padding-top: 5px;
  padding-right:8px;
  padding-bottom:10px;
 
}

a{
  text-decoration: none;
  color: black;
  
}

.content{
  display:flex;
  justify-content: center;
  align-items: center;
}

.bottom{
  display:flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top:10px;
}

.footer{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;  
  margin-top:190px;
  background-color: #eeeeee;
}
.footer .left-links{
  display:flex;
  list-style: none;
  flex-wrap:nowrap;
  gap: 20px;
  padding-left:8px;
  padding-top: 5px;
  padding-right:8px;
  padding-bottom:10px;
  
}

.footer .right-links{
  display:flex;
  list-style: none;
  flex-wrap:nowrap;
  gap: 20px;
  padding-left:8px;
  padding-top: 5px;
  padding-right:8px;
  padding-bottom:10px;
}

ul.left-links{
  margin-left:0px;
}